#container{
    display: flex;
    flex-direction: row;
    /*justify-content: flex-start;*/
}

div .item{
    /*flex: 1;*/
}

#gameContainer{
    flex: 1;

    /* columns gameContainer */
    display: flex;
    flex-direction: column;


    /*width: 300px;*/
    /*height: 300px;*/
}

div .col{
    /* column item */
    flex: 1;

    /* but also a square gameContainer... */
    display: flex;
    flex-direction: row;
}

div .square{
    /* squere item */
    flex: 1;

    /* but also a gameContainer for the inner part... */
    display: flex;
    flex-direction: row;

    /*cursor: pointer;*/
    color: black;
    border: 1px solid black;
}

div .innerSquare{
    flex: 1;
    align-items: center;
    margin: auto;
    text-align: center;
}